<link rel="stylesheet" href="frontend/faq.css">

<section style="--background-color: #0C1018; --border-color: #473590; --angle: 112deg"
         class="news-container fancy-card">
    <div class="pb-4 news-section-header">
        <h1 class="text-white news-section-title">Frequently Asked Questions</h1>
    </div>

    <div class="row">
        <div class="accordion col-md-8 m-auto" id="accordionExample">
            <% faqs.map(item=>{ %>
                <div class="faq-card mb-1">
                    <div class="faq-card-header" id="heading_<%- item._id %>>">
                        <h2 class="mb-0">
                            <a
                                href="#"
                                class="p-3 d-flex justify-content-between align-items-center text-white faq-card-title"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapse_<%- item._id %>"
                                aria-expanded="true"
                                aria-controls="collapse_<%- item._id %>"
                            >
                                <%- item.title %>

                                <i class="fa fa-plus"></i>
                            </a>
                        </h2>
                    </div>

                    <div id="collapse_<%- item._id %>" class="collapse" aria-labelledby="heading_<%- item._id %>"
                         data-parent="#accordionExample">
                        <div class="px-3 py-4 border-top border-secondary faq-card-body">
                            <%- item.content %>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('.faq-card').on('click', function () {
            $(this).find('i').toggleClass('fa-plus fa-minus');
        });
    });
</script>
